<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002843214558-mk9uah9d4rbdqq41lin47mgp478v0t1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002843214558-mk9uah9d4rbdqq41lin47mgp478v0t1n</string>
	<key>API_KEY</key>
	<string>AIzaSyAAdt4qrjck9lUrbPElbh16R_DYtCkrYkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1002843214558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grexBov</string>
	<key>PROJECT_ID</key>
	<string>pfc-grexbov</string>
	<key>STORAGE_BUCKET</key>
	<string>pfc-grexbov.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002843214558:ios:ade0b9071fe0eb91cb284f</string>
</dict>
</plist>